<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitulpatel.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mitulpatel.tictactoe.Input_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mitulpatel.tictactoe.MainActivity">
        </activity>
    </application>

</manifest>